body{
	background:url(../img/backgroung.jpg) repeat-x;
	background-color: #0c739f;
	
}

.main{
	margin: 1px auto;
	width: 1000px;
	height: 100%;
	background-color: #fff;
	-webkit-box-shadow: 0px 4px 7px 4px rgba(0,0,0,0.41);
	-moz-box-shadow: 0px 4px 7px 4px rgba(0,0,0,0.41);
	box-shadow: 0px 4px 7px 4px rgba(0,0,0,0.41);
}
/*HEADER*/
header{
	height: 175px;
	background: url(../img/logo.png) no-repeat;
	background-position: 24px 11px;
}
.header-conteiner{
	float: right;

}
.contacts{
	padding: 11px 0 10px 235px;
}
.contacts h2{
	margin-bottom: 10px;
}
.contacts h2,
.contacts p{
	line-height: 1.5;
	font-size: 12px;
	font-family: "Tahoma";
	color: rgba(18, 138, 167, 0.8);
}
.contries{
	padding-right: 27px;
}
.contries li{
	width: 60px;
	height: 60px;
	margin: 0 1px;
	float: right;
	text-align: center;
	background-position: top;

}
.contries li a{
	line-height: 104px;
	font-size: 10px;
	font-family: "Tahoma";
	color: rgb(18, 138, 167);
	text-decoration: underline;

}
.india{
	background: url(../img/india.png) no-repeat;

}
.maldives{
	background: url(../img/maldives.png) no-repeat;

}
.sri-lanka{
	background: url(../img/shri-lanka.png) no-repeat;

}
.bhutan{
	background: url(../img/bhutan.png) no-repeat;
}
.tibet{
	background: url(../img/tibet.png) no-repeat;
}
.nepal{
	background: url(../img/nepal.png) no-repeat;
}
/*FOTO*/
.foto{
	height: 237px;
	background: url(../img/photo.jpg) no-repeat;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;

}
/*MENU*/
.menu{
	height: 28px;
	background: #333333;
	border-bottom: 1px solid #000;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}
.menu ul{
	height: 100%;
	text-align: center;
}
.menu li{
	display: inline-block;
	height: 28px;
	margin: 0 4% 0 0;
	text-align: left;
	position: relative;
}
.menu li a{
	width: 100%;
	line-height: 28px;
	font-size: 14px;
    color: rgb(255, 255, 255);
 	text-decoration: none;
}
.menu li:hover ul{
	left: -10px;
	z-index: 1000;
}
.menu li img{
	margin-left: 10px;
}
.dropdown{
	position: absolute;
	list-style:none;
	border-top: 1px solid black;
	left: -99999px;
}
.dropdown li{
	display: block;
	width: 100%;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
	background: #333333;
}
.dropdown li a{
	margin: 0 10px;
	display: block;
	white-space:nowrap;
	line-height: 28px;
}
/*CONTENT*/
.content{
	position: relative;
	overflow: hidden;
	height: 100%;
	height: 100%;
	-webkit-box-shadow: 0px 4px 7px 4px rgba(0,0,0,0.41);
	-moz-box-shadow: 0px 4px 7px 4px rgba(0,0,0,0.41);
	box-shadow: 0px 4px 7px 4px rgba(0,0,0,0.41);
}
.fon1{
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
	right: 60%;
	background: #edeef0;
}
.fon2{
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
	right: 20%;
	background:white;
}
.fon3{
	width: 100%;
	height: 100%;
	float: left;
	background: #edeef0;
	position: relative;
}
.left-colum{
	width: 20%;
	height: 100%;
	float: left;
	position: absolute;
	left:80%;
	border-left: 1px solid #c7cacf;
	border-right: 1px solid #c7cacf;
}
.central-colum{
	width: 59%;
	height: 100%;
	float: left;
	position: relative;
	left:40%;
}
.right-colum{
	width: 20%;
	height: 100%;
	float: right;
	position: relative;
	left:80%;
	border-left: 1px solid #c7cacf;
	border-right: 1px solid #c7cacf;
}
.content h1{
	padding: 12px 0;
	text-align: center;
	font-size: 14px;
	color: rgb(66, 76, 67);

}
.content p{
	padding: 0 14px;
	font-size: 14px;
 	color: rgb(66, 76, 67);
	line-height: 1.714;
}
/*FOOTER*/
footer{
	padding: 12px 0;
	text-align: center;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.8);
  
}